@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --fonte_titulos: Arial, poppins, sans-serif;
    --fonte_paragrafos: poppins, arial, sans-serif;
    --cor_tema: #1B7CDE;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: var(--cor_tema);
    overflow-x: hidden;
}

h1 {
    color: #FFF;
    font-family: var(--fonte_titulos);
    font-weight: 800;
    text-align: center;
    margin-top: 1.5em;
}

main {
    color: #000;
    background-color: #FFF;
    font-family: var(--fonte_paragrafos);
    font-weight: 500;
    width: 50vw;
    max-width: 50vw;
    padding: 1em;
    border: 3px solid #000;
    border-radius: 10px;
    margin: auto;
    margin-top: 3em;
}

main>* {
    margin: auto 10px;
}

main>.paragrafo {
    display: inline-block;
}

.numero {
    width: 160px;
    max-width: 160px;
    border: 1px solid #000;
}

.botao {
    font-size: 12px;
    font-weight: 500;
    padding: 3px;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #000;
}

.botao:hover {
    background-color: #d0d0d0;
}

.lista {
    font-family: var(--fonte_paragrafos);
    font-size: 12px;
    font-weight: 400;
    width: 160px;
    max-width: 160px;
    height: 100px;
    min-height: 100px;
    padding: 5px;
    border: 1px solid #000;
    margin: 10px 10px;
}

section {
    margin-top: 5px;
}

section>p {
    text-align: center;
}